/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/resources/public/js/index.js
/resources/public/js/tags.js
/resources/public/js/main.js
.DS_Store
.vagrant
/config.json
/tags.json
/assocs.json
