<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Dakait File Listing</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

	<style>
		.size {
			text-align: right;
		}
		.listing {
			font-size: 20px;
		}
		.file {
			color: #666;
		}
		.dir {
			color: #444;
			font-weight: bold;
		}
		.dir:hover {
			background-color: #00568B;
			color: white;
			cursor: pointer;
		}
		.name {
			text-transform: uppercase;
		}

		.current-path {
			color: #999;
		}

		.current-path a {
			padding: 0px 5px;
		}
	</style>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
		<h1 class="name">Home Server</h1>
		<h3 class="current-path">./hello/world</h3>
		<table class="table listing" id="file-list">
			<thead>
				<th></th>
				<th>Name</th>
				<th class="size">Size</th>
			</thead>
			<tbody>
			</tbody>
		</table>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>

